@import '~jquery-ui/themes/base/all.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

#card-form,
#cancel {
    display: none;
}
#message_form_name option[value=''] { 
    background-color: #858796;
    color: #fff;
}
.disabled {
    background-color: #eaecf4;
    cursor: no-drop;
    & > option {
        background-color: #eaecf4;
    }
}
.to-confirm {
    background: #e6e6e6 !important;
}
#fields {
    display: block;
    & > li {
        display: inline-block;
        cursor: move;
        &:hover,
        &:focus,
        &:active {
            background: #f6f6f6 !important;
        }
    }
}

#dataTable-translations_filter {
    position: relative;
    & > label {
        & > input {
            padding: 0.25rem 1.25rem 0.25rem 0.5rem;
        }
        & > .clean-search {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 5px;
            font-size: 10px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

#dataTable-translations {
    margin: 0 !important;
    & > tbody {
        & > tr {
            height: 48px;
        }
    }
}
@media (max-width: 1047px) {
    #dataTable-translations {
        margin-bottom: 6px !important;
    }
}
#add-error {
    margin: 0 1rem;
    text-align: right;
    color: #e74a3b;
    font-size: 14px;
    font-weight: 600;
}

.rtl {
    & #dataTable-langsList_filter {
        & > label {
            & > input {
                padding: 0.25rem 0.5rem 0.25rem 1.25rem;
            }
        }
    }
}