// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

#dataTable-langsList {
    margin: 0 !important;
    & .btn {
        padding-top: 4px;
    }
    & .enablable {
        line-height: 1;
    }
    & > thead {
        & > tr {
            & > th {
                border-bottom-width: 1px !important;
                &:not(.sorting_disabled) {
                    padding-right: 25px;
                }
            }
        }
    }
    & td {
        &:first-child {
            padding-top: 7px;
        }
        &:nth-child(5) {
            vertical-align: middle;
        }
        &:last-child {
            vertical-align: middle;
            & .btn {
                width: 36.6px;
                padding-top: 4px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}