// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

#dataTable-langsList_filter {
    position: relative;
    & > label {
        & > input {
            padding: 0.25rem 1.25rem 0.25rem 0.5rem;
        }
        & > .clean-search {
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px 5px;
            font-size: 10px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

#dataTable-langsList {
    margin: 0 !important;
    & .btn {
        padding-top: 4px;
    }
    & .enablable {
        line-height: 1;
    }
    & > thead {
        & > tr {
            & > th {
                border-bottom-width: 1px !important;
                &:not(.sorting_disabled) {
                    padding-right: 25px;
                }
            }
        }
    }
    & td {
        &:last-child {
            vertical-align: middle;
        }
    }
}

.rtl {
    & #dataTable-langsList_filter {
        & > label {
            & > input {
                padding: 0.25rem 0.5rem 0.25rem 1.25rem;
            }
        }
    }
}