@import '~jquery-ui/themes/base/all.css';

// global
@import "../../scss/_variables";

.form-control::placeholder {
    color: $gray-b;
}
.ui-icon {
     display: none;
}

// FOSCKEditor
 .cke_chrome {
    border: 0 !important;
    & > .cke_inner {
        border: 1px solid $light-d1;
        & > .cke_top,
        & > .cke_bottom {
            background: $light-f !important;
            border: 0 !important;
        }
    }
}