// global
@import "../../scss/_variables";

h6 img {
    width: 20px;
    height: 13px;
}
.check {
    cursor: pointer;
    & .more {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-image: url('~@fortawesome/fontawesome-free/svgs/solid/caret-up.svg') !important;
        background-position: right center !important;
        background-repeat: no-repeat;
        background-size: 10px;
    }
    &.collapsed {
        & .more {
            background-image: url('~@fortawesome/fontawesome-free/svgs/solid/caret-down.svg') !important;            
        }           
    }
}
.select2.select2-container {
    width: 100% !important;
}
#translator {
    min-height: 44px;
}
#accordion {
    position: relative;
}
#conflict.ban {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $white url('~@fortawesome/fontawesome-free/svgs/solid/ban.svg') center / 30px no-repeat;
    opacity: 0.7;
    z-index: 10;
}
.h-description {
    padding-bottom: 35px;
}
.h-adjust {
    & .h-title {
        height: 45px;
        overflow-y: auto;
    }
    & .h-description {
        height: 100px;
        padding-bottom: 20px;
        overflow-y: auto;
    }
}
.refuseRequired {
    display: none;
}

// GG Translate
#page-top {
    top: 0 !important;
}
.skiptranslate {
    color: #fff !important;
    font-size: 0 !important;
    & iframe,
    & span {
        display: none !important;
    }
    & select {
        background: #fff !important;
        color: #858796 !important;
        font-size: 14px !important;
        border: 1px solid #bbb;
        border-radius: 3px;
        padding: 4px;
    }
}

#translateModal {
    padding: 0;
    & > .modal-dialog {
        max-width: 100%;
        max-height: 100vh;
        margin: 0;
        & > .modal-content {
            max-height: 100vh;
            border-radius: 0;
            & > .modal-header {
                border-radius: 0;
            }
        }
    }
}
#contrib,
#no-contrib {
    display: inherit;
}
@media (max-width: 991px) {
    #refuseModal .modal-dialog {
        max-width: 90%;
    }
}
@media (max-width: 575px) {
    #refuseModal .modal-dialog {
        max-width: 100%;
    }
}