// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

#dataTable-usersList {
    margin: 0 !important;
    & .btn {
        padding-top: 4px;
    }
    & .enablable {
        line-height: 1;
    }
    & > thead {
        & > tr {
            & > th {
                border-bottom-width: 1px !important;
                &:not(.sorting_disabled) {
                    padding-right: 25px;
                }
                &[name=check] {
                    cursor: default !important;
                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    & td {
        vertical-align: middle;
        &.ckeck {
            & .form-group {
                margin-bottom: 0;
            }            
        }
        &:last-child {
            & .btn {
                width: 36.6px;
                padding-top: 4px;
                padding-left: 0;
                padding-right: 0;
                &.btn-outline-warning {
                    padding: 5px 0px 7px 3px;
                }
            }
        }
    }
}

#userActions {
    opacity: 0;
}

.rtl {
    & #dataTable-langsList_filter {
        & > label {
            & > input {
                padding: 0.25rem 0.5rem 0.25rem 1.25rem;
            }
        }
    }
}