{% apply inline_css %}
    <style>
        #email-content {max-width:500px;margin:0 auto;background:#fff;padding:6px;}
        #email-content img {width:100%;height:auto;}
        #email-content .content {padding:6px;font-size:1rem;}
        #email-content .content .message {padding:6px;border:1px solid #ddd}
        #email-content .noreply {display:block;text-align:center;font-size:80%;padding:10px;background:#aaa;color:#fff;margin-top:1.5em;}
    </style>
    <div id="email-content">
    
        <img src="{{ absolute_url(asset('img/flp_1000x260.jpg')) }}" alt="">
            
        <div class="content">
            
            {{ 'user.message'|trans({
                    '%recipient%': recipient,
                    '%sender%': sender,
                    '%content%': content,
                    '%reply%': reply,
                    '%website_name%': name_site,
                    '%website_url%': app.request.schemeAndHttpHost,
                    '%footer%': footer
                }, 'email_messages')|raw|nl2br
            }}
            
        </div>
            
    </div>
{% endapply %}