{% trans_default_domain 'back_messages' %}
{{dump(userFiles)}}
<div class="col-lg-10 offset-lg-1 col-12 offset-0 px-0">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ 'lang.translation.contrib.file.table'|trans() }}</h6>
        </div>
        <div id="langs-list" class="card-body pb-3">

            <table id="dataTable-langsList" class="table table-sm mb-0 nowrap">
                <thead class="bg-gray-600 text-white">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>            
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
