###> symfony/framework-bundle ###
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/phpunit.xml.dist
/bin/
/config/services.yaml
/config/packages/twig.yaml
/config/packages/mailer.yaml
/config/packages/notifier.yaml
/config/secrets/prod/prod.decrypt.private.php
/migrations/
/nbproject/
/public/bundles/
/tests/
/src/DataFixtures/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/uploads/
/translations/.gitignore
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###