$scrollbar-dark: #343a40;
$scrollbar-secondary: #6c757d;
$scrollbar-light: #999999;

$blue:#5897fb;

$dark:#333;
$dark-50:rgba(52, 58, 64, 0.5);
$dark-70:rgba(52, 58, 64, 0.75);
$dark-85:rgba(52, 58, 64, 0.85);
$dark-95:rgba(52, 58, 64, 0.95);

$light-30:rgba(248, 249, 250, 0.3);
$light-50:rgba(248, 249, 250, 0.5);
$light-70:rgba(248, 249, 250, 0.7);
$light-70-hover:rgba(255, 255, 255, 0.9);
$light-80:rgba(248, 249, 250, 0.8);
$light-c:#ced4da;
$light-d:#ddd;

$white:#fff;
$white-50:rgba(255, 255, 255, 0.5);
$white-70:rgba(255, 255, 255, 0.7);
$white-80:rgba(255, 255, 255, 0.8);

$black-10:rgba(0, 0, 0, 0.1);
$black-40:rgba(0, 0, 0, 0.4);

$secondary: #6c757d;
$secondary-40:rgba(108, 117, 125, 0.4);
$secondary-50:rgba(108, 117, 125, 0.5);
$secondary-80:rgba(108, 117, 125, 0.8);

$gray-89:#898989;
$gray-9:#999;
$gray-b:#bbb;
$gray-e:#e9ecef;


$success-light:#28a745;

$info:#17a2b8;

$warning:#ffc107;

$danger:#dc3545;
$danger-light:#dc3545;
$danger-bg:#fbe9eb;


/* front */
$nav-background:#343a40;
$nav-background-active:#222;
$nav-background-active-class:#777;
$nav-color:#808080;
$nav-color-hover:#fff;
$nav-color-active:#fff;
$sm-nav-background:rgba(0,0,0,0.3);
$sm-nav-background-active:#343a40;
$sm-nav-background-active-class:#343a40;
$sm-nav-color:#808080;
$sm-nav-color-hover:#fff;
$sm-nav-color-active:#fff;

$btn-color:#007bff;
$btn-color-hover:#0056b3;

$score-group-button-hover:#6c757d;