@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

.dropdown-item.d-flex.d-none {
    display: none !important;
}
input[type="checkbox"].custom-checkbox:checked {
    background-color: #4e73df !important;
}

.anchor-top {
    margin-top: -90px;
    padding-top: 90px;
}