{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'security' %}

{% block title %}{{ 'error.403'|trans() }}{% endblock %}
{% block seo %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_app', null, 'frontApp') }}
{% endblock %}


{% block body %}
    <body id="page" class="bg-dark">
        
        {% block navbar %}
            {% include "front/block/_navbar.html.twig" %}
        {% endblock %}
    
        <div class="container my-5 py-5">
            
            {% block content %}
                <div class="row mt-3 mb-5 pt-5">
                    <div class="col-md-8 col-12 m-auto p-4 bg-white text-center">
                        <h1>{{ 'error.403'|trans() }}</h1>
                        <p class="h1"><i class="fas fa-ban"></i></p>
                    </div>
                </div>
            {% endblock %}
            
        </div>
            
        {% block footer %}
            {% include "front/block/_footer.html.twig" %}
            <div id="footerEnd" class="bg-dark"></div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('front_app', null, 'frontApp') }}
        {% endblock %}
        
    </body>
{% endblock %}