{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}

{% block title %}{{ 'nav.contribs.all'|trans() }}{% endblock %}

{% block content %}
    
    <div class="container mt-5 py-5">
        
    {% block banner%}
        <div class="mt-3 mb-5 pt-5">
            <h1 class="h3 text-white">
                {{ 'nav.contribs.all'|trans() }}
            </h1>
        </div>
    {% endblock %}
    
    </div>
    
{% endblock %}