{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'user_messages' %}

{% set locale = app.request.locale %}


{% block title %}{% endblock %}

{% block content %}
    {% block banner%}<h1 class="h3 mb-3 font-weight-normal">{{ 'contribs.title'|trans() }}</h1>{% endblock %}
    
    {% if situs is empty %}
        {{ 'account.no_contrib'|trans() }}
    {% else %}
    {% endif %}
    
{% endblock %}