{% extends 'front/layout.html.twig' %}
{% trans_default_domain 'front_messages' %}

{% block title %}{{ 'label.contribution.search'|trans({}, 'messages') }}{% endblock %}

{% block content %}
        
    {% block banner%}
        <div class="mt-3 mb-5 pt-5">
            <h1 class="h3 text-white">
                {{ 'label.contribution.search'|trans({}, 'messages') }}
            </h1>
        </div>
    {% endblock %}
    
{% endblock %}