// global
$btn-color:#007bff;
$btn-color-hover:#0056b3;
$score-group-button-hover:#6c757d;

.colBtn {
    & > button {
        &:focus {
            outline: none;
        }
    }
}

#form-items {
    & > .list-group {
        & > .list-group-item:nth-child(2) {
            & > .btn,
            & .form-group:nth-child(1) {
                display: none !important;
            }
        }
        & > .list-group-item:nth-child(5) {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            & .form-group:last-child {
                margin-bottom: 0 !important;
            }
        }
        & .score-group {
            & .bg-readonly {
                background: #e9ecef;
            }
            & button {
                top: 43px;
                outline: none;
                &:hover {
                    color: $score-group-button-hover;
                }
            }
        }
    }
    & #add-itemSitu-link {
        color: $btn-color;
        cursor: pointer;
        &:hover,
        &:hover > .text-muted {
            color: $btn-color-hover !important;
        }
    }
}

@media screen and (max-width: 576px) {
  #form-items .score-group button {
    left: 66.66667%;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  #form-items .score-group button {
    left: 58.33333%;
  }
}
@media screen and (min-width: 768px) {
    #form-items .score-group button {
      left: 41.66667%;
    }
}

#modal-flash {display:none}