.form-check {
    & a i {
        width: 14px;
    }
}
#comment { display: none; }

[dir="rtl"] {
    .form-check {
        padding-left: unset;
        padding-right: 1.25rem;
        & > input {
            margin-left: unset;
            margin-right: -1.25rem;
        }
    }
}