@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

// global
@import "../../scss/_variables";

/* datatables */
table {
    &.dataTable {
        margin: 0 !important;
        & th {
            &.sorting {
                &::before, 
                &::after {
                    bottom: 0.5em;
                }
            }
        }
    }
}
.situ-translation {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: -6px;
        top: 14px;
        height: 1px;
        width: 39px;
        background: $secondary;
        transform: rotate(45deg);
    }
}