// global
@import "../../scss/_variables";


.card-header:nth-child(2) {
    min-height: 218px;
}

.translation-situ {
    & .card-body,
    & .card-footer {
        opacity: 1;
    }
}
.translation-flag {
    vertical-align: baseline;
}
.h-title {
    height: 40px;
    overflow-y: auto;
    line-height: 1.2;
}
.h-description {
    height: 136px;
    overflow-y: auto;
    line-height: 1.2;
}
#initialSituItems {
    & .h-title {
        height: 28px;
    }
    & .h-description {
        height: 133px;
        margin-bottom: 26px;
    }
    & legend {
        padding-top: 15px;
    }
}
.mb-score {
    margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
    .h-title,.h-description {
        height: auto;
        overflow-y: none;
    }
    .title-success {
        margin-bottom: 12px !important;
        padding-bottom: 0 !important;
    }
    .pt-score {
        margin-bottom: 12px;
        padding-top: 12px;
    }
}