// global
@import "../../scss/_variables";

.select2.select2-container {
    width: 100% !important;
}
.opacity-1 {
    opacity: 1 !important;
}
#page {
    & .card-header {
        padding-bottom: 6px !important;
    }
    & .on-load {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: transparent url('../img/select-loader.gif') 50% 50% no-repeat;
            width: 100%;
            height: 100%;
        }
    }
}

.colBtn {
    & > span {
        cursor: pointer;
    }
    & > button {
        margin: 0 3px !important;
        font-size: 18px;
        line-height: 1;
        &:focus {
            outline: none;
        }
        & > i {
            width: 18px;
            height: 18px;
            background: $white;
            border-radius: 50%;
        }
    }
}
#situ_form_langId > option:first-child {
    color: $dark !important;
}
#situ_form_situItems_0 > .option-hide {
    display: none !important;
}
#form-items {
    & > .list-group {
        & .border-secondary { border-color: $gray-89 !important}
        & > .situ-item:last-child {
            & .border-bottom { border-width: 0 !important}
        }
        & .score-group {
            & > .score-item {
                color: $gray-b !important;
                &.selection-on {
                    color: $dark !important;
                }
            }
            & .bg-readonly {
                background: $gray-e;
                color: $gray-89 !important;
            }
            & .selected,
            & .selected:hover {
                color: $white !important;
                &.text-info {
                    background-color: $info !important;
                }
                &.text-warning {
                    background-color: $warning !important;
                }
                &.text-danger {
                    background-color: $danger !important;
                }
            }
        }
    }
    & #add-itemSitu-link {
        color: $btn-color;
        cursor: pointer;
        &:hover,
        &:hover > .text-muted {
            color: $btn-color-hover !important;
        }
    }
}

.card-body,
.card-footer {
    opacity: 0;
}