#userLangForms button {
    display: none;
    width: 24px !important;
    border-radius: 4px;
}
#userLangForms button[type="submit"]:focus {
    outline: none;
    outline-style: solid;
    outline-color: #d9d9d9;
    outline-width: 4px;
    background: #dc3545 !important;
    color: #fff !important;
}
#userFiles .fileDelete,
#btn-modal {
    cursor: pointer;
}
#btn-modal:hover {
    color: #6c757d !important;
    & > .text-primary {
        color: #0056b3 !important;
    }
}
#userFiles .fileDelete:hover {
    color: #dc3545 !important;
}
.img-circle {
    width: 86.662px;
    height: 86.662px;
    margin: 0;
    padding: 0;
    clip-path:ellipse(50% 50%);
}
.img-circle img {
    width: 86.662px;
    height: auto;
}