// global
@import "../../scss/_variables";

.img-circle {
    width: 86.662px;
    height: 86.662px;
    clip-path:ellipse(50% 50%);
    cursor: pointer;
}
#defaultImg,
#previewImg {
    width: 86.662px;
    height: auto;
}
.unupload-img:hover i,
.delete-img:hover i {
    color: $dark;
    cursor: pointer;
}

.select2-selection {
    &:not(.select2-selection--multiple) {
        & .select2-selection__rendered {
            color: $dark !important;
        }
    }
}

@media (max-width: 576px) {
    #contributorLangs {
        & > .text-right {
            text-align: left !important;
        }
        & .select2-container {
            width: 100% !important;
        }
    }
}