{% extends "front/layout.html.twig" %}
{% trans_default_domain 'messenger_messages' %}
{% set locale = app.request.locale %}
{% set title = 'message.read.title'|trans({ '%user%': message.senderUser.name }) %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('message_app', null, 'frontApp') }}
 {% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    
    {% block banner%}
    <div class="d-flex justify-content-start mt-3 mb-5 pt-5">
        <h1 class="h3 text-white">{{ title }}</h1>
    </div>
    {% endblock %}
        
    <div class="row">
        <div class="col-12">
            <div class="card card bg-secondary-50 p-3">
                <div class="card-body bg-white-80 p-0">
                    {% include 'block/message/_envelope.html.twig' %}
                </div>
            </div>
        </div>
    </div>
                        
{% endblock %}