{% if app.request.hasPreviousSession %}
    {% set flashbag = app.session.flashbag.all() %}
    {% if flashbag|length %}
        <div id="flash_message" class="container">
            {% for type, messages in flashbag %}
                {% for message in messages %}
                    <div class="alert alert-secondary alert-dismissible px-3 fade show" role="alert">
                        <span class="sr-only">{{ ('alert.' ~ type)|trans() }} : </span>
                        {% if type == 'success' %}
                            <span class="icon text-success"><i class="fas fa-check-circle"></i></span>
                        {% elseif type == 'error' %}
                            <span class="icon text-danger"><i class="fas fa-exclamation-circle"></i></span>
                        {% endif %}
                        <span class="msg">{{ message|raw|nl2br }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}