{% if app.request.hasPreviousSession %}
    {% set flashbag = app.session.flashbag.all() %}
    {% if flashbag|length %}
        <div id="flash_message" class="container" translate="no">
            {% for type, messages in flashbag %}
                {% for message in messages %}
                    <div class="alert alert-secondary alert-dismissible px-3 fade show" role="alert">
                        <span class="sr-only">{{ ('alert.' ~ type)|trans() }} : </span>
                        {% if type == 'error' %}
                            <span class="icon text-danger"><i class="fas fa-exclamation-circle"></i></span>
                        {% else %}
                            <span class="icon text-{{ type }}">
                            {% if type == 'success' %}<i class="fas fa-check-circle"></i>
                            {% elseif type == 'info' %}<i class="fas fa-info-circle"></i>
                            {% elseif type == 'warning' %}<i class="fas fa-exclamation-circle"></i>{% endif %}
                            </span>
                        {% endif %}
                        <span class="msg">{{ message|raw|nl2br }}</span>
                        <span id="hideFlash" class="pl-4"><i class="far fa-times-circle"></i></span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}