{% apply inline_css %}
    <style>
        #email-content {max-width:500px;margin:0 auto;background:#fff;border:1px solid #ccc;padding:6px;font-size: .875rem;}
        #email-content img {width:100%;height:auto;}
        #email-content .content {padding:6px;font-size: .875rem;}
    </style>
    <div id="email-content">
    
        <img src="{{ absolute_url(asset('img/flp_1000x260.jpg')) }}" alt="">
            
        <div class="content">
            
            {{ alert|raw|nl2br }}
            
            {{ 'situ.validate.email.message'|trans({
                    '%user%': user,
                    '%moderate_url%': moderator_url,
                    '%website_url%': app.request.schemeAndHttpHost,
                    '%website_name%': name_site
                }, 'email_messages')|raw|nl2br
            }}
            
        </div>
            
    </div>
{% endapply %}