{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set locale = app.request.locale %}
<!DOCTYPE html>
<html lang="{{ locale }}" {% if (locale == 'ar')
                            or (locale == 'he')
                            or (locale == 'ur') %}dir="rtl"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <meta name="author" content="Seds - TwXDesign">
        <title translate="no">{% block title %}{{ name_site }}{% endblock %}{% block subtitle %} - FLP{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ '' }}{% endblock %}" />
        <link rel="icon" type="image/png" href="{{ asset('img/forlifeproject.png')}}" />
        {% block seo %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    {% block body %}{% endblock %}
</html>
 