{% trans_default_domain 'back_messages' %}

{% block app_page_content_widget %}
<div {{ block('widget_container_attributes') }} class="position-relative bg-light p-3 border divContent">
    <div class="d-flex justify-content-between mb-3 row">
        <div class="col-10">
            {{ form_widget(form.title) }}
        </div>
        <div class="col-2 d-flex justify-content-end">
            <div class="content-remove">
                <span class="btn btn-outline-danger removeContent">
                    <i class="far fa-trash-alt"></i>
                </span>
            </div>
        </div>
    </div>
    {{ form_widget(form.content|raw) }}
</div>
{% endblock app_page_content_widget %}