{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{encore_entry_link_tags('back_app')}}
{% endblock %}

{% block body %}
    <body>
        {% block flash_message %}
            {% include "block/_flash_message.html.twig" %}
        {% endblock %}
        <div class="wrapper">
            {% block sidebar %}
                {% include "back/block/_sidebar.html.twig" %}
            {% endblock %}
            <div id="content">
                {% block navbar %}
                    {% include "back/block/_navbar.html.twig" %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {{encore_entry_script_tags('back_app')}}
        {% endblock %}
    </body>
{% endblock %}