{% trans_default_domain 'front_messages' %}
{% set route = app.request.get('_route') %}

<footer class="container-fluid text-white small">
    <div class="row">
        <div class="col-12">
            <div class="p-5">{{ name_site }} {{ 'now' | date('Y') }} &copy; {{ 'footer.copyright'|trans }}</div>
        </div>
    </div>
</footer>