<ul class="cb-slideshow">
{# Load a rondom begining slide images #}
{% set imgRandom = random(32) %}
{% for i in 0..31 %}
    {% set imgName = imgRandom - i %}
    {% if imgName < 0 %}
        {% set imgName = imgName * -1 + imgRandom %}
    {% endif %}
    {% set imgLi %}
        <li><span style="background-image:url('{{ asset('fullscreenslide/img/'~ imgName ~'.jpg') }}')"></span></li>
    {% endset %}
    {{ imgLi }}
{% endfor %}    
</ul>