{% extends 'back/layout.html.twig' %}
{% trans_default_domain 'security' %}

{% block title %}{{ 'error.404'|trans }}{% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">{{ 'error.404'|trans }}</p>
        </div>

    </div>
{% endblock %}