{% apply inline_css %}
    <style>
        #email-content {max-width:500px;margin:0 auto;background:#fff;border:1px solid #4177d6;padding:6px;font-size: .875rem;}
        #email-content img {width:100%;height:auto;}
        #email-content .content {padding:6px;font-size: .875rem;}
        #email-content center > a {background: #15c;color: #fff;text-decoration: none;padding: 10px 15px;border-radius: 3px;}
    </style>
    <div id="email-content">
    
        <img src="{{ absolute_url(asset('img/flp_1000x260.jpg')) }}" alt="">
            
        <div class="content">
            
            {{ 'registration.email.message'|trans({
                    '%user%': user,
                    '%signed_url%': signedUrl,
                    '%website_url%': app.request.schemeAndHttpHost,
                    '%website_name%': name_site
                }, 'security')|raw|nl2br
            }}
            
        </div>
            
    </div>
{% endapply %}